<h1>Education/Resources</h1>
<p>Your Road Map to Health Information on the Web. With approximately 16,000 health-related sites on the internet, it's difficult to know where to go to obtain reliable health and medical information.  That's why Express Health™ has compiled a comprehensive list of what we consider to be the best sites available today.  We can connect you to the the most reliable websites providing the latest information, resources, and tools to help you lead a healthier life and get detailed information on hundreds of medical conditions, treatments, medications and more.  We wish you the best in your search for better health! Click of the clicks below to get started.</p>

<div id="edu_menu" class="content_area_block">
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Audio Health Library</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>FAQ</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Links</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Nutrition</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Fitness</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Prevention</a></p>
  <br />
  <br />
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Other Health Related Links</a></p>
</div>

<div id="edu_content" class="content_area_block">
  <p>This div will change dynamically with JQuery links</p>
</div>
