<% title "Incentive" %>

<p>
  <strong>Name:</strong>
  <%= @incentive.name %>
</p>

<p>
  <%= link_to "Edit", edit_incentive_path(@incentive) %> |
  <%= link_to "Destroy", @incentive, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", incentives_path %>
</p>
