/* Layout Styles. Author: Matt Rust */
/*
green = #009c7d
purple = #8566a9
*/
html {
	background: #fff; /*#9d9d9d*/
}
body {
	background: url('../images/dots2.png') repeat;
	min-height: 650px;
	height: 100%;
	font: 12px Verdana, Arial, sans-serif;
}
p {
	color: #938b89;
	padding: 3px 5px;
}
h1 {
	font-size: 24px;
	padding: 10px 0 5px 0px;
	color: #009c7d;
}
h2 {
	font-size: 20px;
	padding: 10px 0 5px 0px;
	color: #009c7d;
}
h3 {
	font-size: 16px;
	padding: 10px 0 5px 0;
	color: #009c7d;
	text-transform: uppercase;
}
a {
  color: #938B89;
}
.green {
	color: #009c7d;
}
.purple {
	color: #8566a9;
}
header {
	
}
header ul li {
	display: inline-block;
	color: #938b89;
	text-transform: uppercase;
}
header ul li a {
	color: #938b89;
	text-decoration: none;
}
header ul li a:hover {
	/*text-decoration: underline;*/
}
#address {
	text-transform: lowercase;
	font-size: 10px;
	float: left;
	margin: 0px 10px;
}
#doc2 {
	background: #fff;
	width: 1050px;
	border: 2px solid #ddd;
	-moz-box-shadow: 2px 2px 5px #ddd;
	-webkit-box-shadow: 2px 2px 5px #ddd;
	box-shadow: 2px 2px 5px #ddd;
}
#bd {
	margin: 0 50px;	
}
#logo {
	height: auto;
	float: left;
	margin: 40px 0 0 0;
}
#main_nav {
	display: block;
	position: relative;
	width: 600px;
	float: left;
	margin: 0;
	text-align: right;
	height: 100px;
}
#user_nav {
	height: 25px;
	width: auto;
	text-align: right;
	margin: 10px 0 0 0;
}
nav {
	position: relative;
	margin: 50px 0 0 0;
}
nav ul.nav li {
	position: relative;
}
.submenu {
	position:absolute;
	display:none;
	width:150px;
	height:auto;
	top:15px;
	left:0px;
	padding:10px;
	z-index:11;
	background: #999;
	opacity: 0.9;
	color: #fff;
	font-size: 10px;
}
.submenu li { display: block; padding: 3px 5px 2px 0; text-align: left;}
.submenu a {
	color: #fff;
	
}
.submenu a:hover {
	/*color: #009c7d;*/
	color: #fff;
	font-weight: bold;
}
#image-row {
	display: block;
	height: 250px;
	width: 960px;
	float: left;
	position: relative;
}
#image-row img.initial {
	position: absolute;
}
#image-row img.overlay {
	position: absolute;
	top: -1px;
}
.overlay {
	display: none;
}
#image-row img.one {left: 0;}
#image-row img.two {left: 240px;}
#image-row img.three {left: 480px;}
#image-row img.four {left: 720px;}

.content_area_block {
	float: left;
}
/* Flash hash notice styles */
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
/* Main Content Areas */
#content {
	background: #f4f1f8;
	margin: 20px 0;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	min-height: 450px;
	height: auto;
	width: 100%;
	float: left;
	position: relative;
}
#content.home_content {
	min-height: 200px;
}
#content.about_content {
	min-height: 450px;
}
#content.education_content {
	min-height: 200px;
}
#content.tools_content {
	min-height: 200px;
}
#content.login_content {
	min-height: 200px;
}
#copy {
	float: left;
	width: 600px;
	min-height: 1px;
	padding: 20px;
}
#copy ul {
	padding: 3px 0 5px 20px;
	color: #938b89;
}
#copy ul li {
	padding: 2px 0 3px 0;
	list-style-type: square;
}
#copy a:hover, #copy a:active {
	color: #545050;
}
/*Footer Area */
footer {
	border-top: 1px solid #584098;
	width: 1050px;
	height: 40px;
}
#ft-nav {
	float: left;
	width: 300px;	
	color: #938b89;
	margin: 2px 0 0 50px;
}
#ft-nav ul li {
	display: inline-block;
	color: #938b89;
	text-transform: uppercase;
	font-size: 9px;
}
#ft-nav ul li a {
	text-decoration: none;
	color: #938b89;
}
#ft-nav ul li a:hover {
	text-decoration: underline;
}
#ft-logo{
	float: left;
	width: 300px;
	border-right: 1px solid #584098;
	border-left: 1px solid #584098;
	text-align: center;
}
#ft-social {
	float: left;
	width: 300px;
}
/*Sidebar Images - class default sidebar_img, use #id of div to override*/
.sidebar_img {
	position: absolute;
}
#apple {
	background: url('../images/apple.png');
	width: 297px;
	height: 360px;	
	bottom: -120px;
	right: -70px;
	z-index: 10;
}
#president {
	background: url('../images/president_sally.png');
	width: 218px;
	height: 451px;
	bottom: -20px;
	right: 0px;
}
#pepper {
	background: url('../images/pepper.png');
	width: 309px;
	height: 300px;
	bottom: -70px;
	right: -20px;
	z-index: 10;
}
#measuring_tape {
	background: url('../images/tapemeasure.png');
	width: 309px;
	height: 300px;
	bottom: -80px;
	right: -10px;
	z-index: 10;
}
#mouse {
	background: url('../images/mouse.png');
	width: 309px;
	height: 300px;
	bottom: -90px;
	right: -40px;
	z-index: 10;
}
#staff {
	background: url('../images/staff.png');
	width: 309px;
	height: 300px;
	bottom: -100px;
	right: -30px;
	z-index: 10;
}
#little_apple {
	background: url('../images/little_apple.png');
	width: 119px;
	height: 126px;	
	bottom: -100px;
	right: -30px;
	z-index: 10;
}
/* Portal layout styles */
#address-bottom {
	text-transform: lowercase;
	font-size: 10px;
	float: left;
	margin: 20px 10px;
}
#address-bottom ul li {
	display: inline-block;
	color: #938b89;
	text-transform: uppercase;
}
#secondary_nav {
	margin: -20px 20px 0 0;
	float: right;
	text-transform: uppercase;
}
.portal_nav li {
	display: inline;
	color: #fff;
	background: #0066cc;
	padding: 5px 20px;
	margin: 0 0 0 -5px;
	border: 1px solid #fff;
	position: relative;
}
.portal_nav li a {
	color: #fff;
	text-decoration: none;
}
.portal_nav .submenu li {
	background: none;
	border: none;
	display: block;
}
.tracking { top: 27px; }
#client_logo {
	float: left;
	display: block;
	width: 300px;
	height: 100px;
	margin: 20px 0;
	background: #ddd;
}
nav.main_nav_portal {
	margin: 70px 0 0 250px;
}
/* Contact Page */
#contact_info {
	width: 300px;
	height: auto;
}
#ask_us {
	width: 300px;
	height: auto;
}
/* Education Resources */
#edu_menu {	
	width: 200px;
	height: auto;
	margin: 20px 0 0 0;
}
#edu_content {
	background-color: #eae4f0;
	width: 380px;
	min-height: 250px;
	height: auto;
	margin: 20px 0 0 0;
	padding: 10px;
	color: #545050;
}
#edu_content p {
	color: #545050;
}
/* Form elements */
input {
	border: 1px solid #009c7d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset -1px -1px 2px #009c7d;
	-webkit-box-shadow: inset -1px -1px 2px #009c7d;
	border-radius: inset -1px -1px 2px #009c7d;
	width: 200px;
	height: 20px;
	font-size: 10px;
	background: #eee;
}
input[type="submit"] {
	/*background: url('../images/login.png');*/
	background: #009c7d;
	color: #fff;
	width: auto;
	padding: 0 10px;
	height: 20px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
}
input[type="checkbox"] {
	width: 8px;
	height: 8px;
}
label {
	/*color: #8566a9;*/
	color: #009c7d;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0 0 0 5px;
}