<% title "Welcome to Express Health" %>

<p>Welcome to Express Health, a division of Spectrum Health Systems.  Your employer has contracted with Express Health to provide you with many resources to benefit your health and fitness goals. Express Health is available to you, free of charge, as a tool to help you obtain information that will benefit you and your family.</p>
<p>An excellent place to start is to enroll in a free and confidential health screening offered at your work-site. The information you learn about your health can give you insight into potential issues that you can prevent or treat early.</p>
