<% title "My Health Account" %>

<h3>Welcome Warner - Admin</h3>
<p>Company: Indiana Nazarene Clergy Association</p>

<table>
	<tr>
		<td><h3>My todo list</h3></td>
	</tr>
	<tr>
		<th>Item Listing</th>
		<th>Description</th>
		<th>Completed</th>
	</tr>
	<tr>
		<td>Hello</td>
		<td>Is it me you're</td>
		<td>looking for?</td>
	</tr>
</table>	