<h1>Welcome to Express Health</h1>

<p>Our mission is to optimize an organization's ability to meet it's strategic business objectives through enhanced individual and organizational health.</p>
<h3>Objectives</h3>
<ul>
  <li>Control health care costs by reducing the need and the demand for health care services.</li>
  <li>Increase productivity and decrease absenteeism.</li>
  <li>Empower employees to adopt and/or maintain healthy lifestyle practices to enhance their health and well-being, lower their health risk and improve the management of chronic conditions.</li>
  <li>Provide employees with the information and support they need to make appropriate use of health care resources and improve the quality of care they receive.</li>
  <li>Build a healthy worksite culture where employees work in a positive, supportive environment that contributes to optimal health and performance.</li>
  <li>Improve employee satisfaction. </li>
</ul>
<h3>Our Core Values</h3>
<ul>
  <li>Professionalism: Responsibility, Empathy, Leadership, Accountability</li>
  <li>Respect: Trust, Compassion, Assurance</li>
  <li>Innovative: Proactive, Efficient, Flexible, Progressive, Integration</li>
  <li>Diligence: Initiative, Attention, Dedication, Perseverance, Commitment</li> 
  <li>Excellence: Distinction, Quality, Best Practices, Value</li>
</ul>
