<h1>Contact Us</h1>

<div id="contact_info" class="content_area_block">
  <h3>Express Health</h3>
  <p class="purple">A program of Spectrum Health Systems</p>
  <p>8200 Haverstick Road, Suite 150<br />
  Indianapolis, Indiana 46240<br />
  main: 317.573.7600<br />
  fax: 317.573.7667<br />
  toll-free: 888.573.1538</p>

  <h3>Contact Us</h3>

  <p><span class="green">&lt;&nbsp;</span><a href='#'>Request Information</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Email Spectrum</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Executive Leadership Team</a></p>
</div>

<div id="ask_us" class="content_area_block">
  <h3>Ask Us</h3>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Ask an RN</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Ask an RD</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Personal Trainer</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>Pregunte a la Diesta</a></p>
  <p><span class="green">&lt;&nbsp;</span><a href='#'>General Questions</a></p>
  
  <h3>Follow us on</h3>
  <p><a href='#'><%= image_tag('facebook.png')%></a><a href='#'><%= image_tag('twitter.png')%></a></p>
</div>